from sqlalchemy.orm import Mapped, mapped_column

from {{ source }}.core.database import Base


class {{ pascal }}(Base):
    """{{ pascal }} entity."""

    __tablename__ = "{{ plural }}"

    id: Mapped[int] = mapped_column(primary_key=True)
