from typing import Annotated

from fastapi import APIRouter, Depends
from sqlalchemy.ext.asyncio import AsyncSession

from {{ source }}.core.database import get_session

SessionDep = Annotated[AsyncSession, Depends(get_session)]

router = APIRouter(prefix="/{{ plural }}", tags=["{{ plural }}"])
